{{#each this}}
    
<div class="columns">
    <div class="column is-two-thirds">
        <div class="box">
            <div class="media">
                <div class="media-left">
                    <p><strong>{{user.username}}:</strong></p>
                </div>
                <div class="media-content">
                    <p class="content">{{comment}} on {{formatDate created_at}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{{/each}}
